10k_cosines_m,x(256).py
1k_random_dots_cosines_low_density.py
10k_cosines_m,x(256)_lowdensity.py
40k_nodes.py
10k_cosines_m,x.py
1k_Random_dots.py
1k_random_dots.csv
cnn.py
1k_random_dots.txt
nn.py
.DS_Store
.idea/